<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benyi.energy.mapper.FeedbackMapper">

    <resultMap type="Feedback" id="FeedbackResult">

        <result property="id"    column="id"    />
        <result property="suggest"    column="suggest"    />
        <result property="contact"    column="contact"    />
        <result property="file"    column="file"    />
        <result property="createDate"    column="create_date"    />

    </resultMap>

    <insert id="insertFeedback" parameterType="Feedback" useGeneratedKeys="true" keyProperty="id">
        insert into feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="suggest != null">suggest,</if>
            <if test="contact != null">contact,</if>
            <if test="file != null">file,</if>
            <if test="createDate != null">create_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="suggest != null">#{suggest},</if>
            <if test="contact != null">#{contact},</if>
            <if test="file != null">#{file},</if>
            <if test="createDate != null">#{createDate},</if>
        </trim>
    </insert>

</mapper>